# Ignorar el entorno virtual
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones específicas de IDEs
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db